# Visual Studio / .NET
.vs/
**/.vs/
bin/
obj/
**/bin/
**/obj/

appsettings.Local.json
**/appsettings.Local.json
appsettings.*.Local.json
**/appsettings.*.Local.json

# React
node_modules/
**/node_modules/

build/
dist/
**/build/
**/dist/
.cache/
.env